@font-face {
  font-family: 'GloberxBold';
  src: url("../fonts/GloberxBold.otf");
  src: url("../fonts/GloberxBold.woff") format("woff"), url("../fonts/GloberxBold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'GloberBook';
  src: url("../fonts/GloberBook.otf");
  src: url("../fonts/GloberBook.woff") format("woff"), url("../fonts/GloberBook.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'GloberRegular';
  src: url("../fonts/GloberRegular.otf");
  src: url("../fonts/GloberRegular.woff") format("woff"), url("../fonts/GloberRegular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'dudu';
  src: url("../fonts/Dudu_Cyrillic.ttf");
  src: url("../fonts/Dudu_Cyrillic.woff") format("woff"), url("../fonts/Dudu_Cyrillic.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  margin: 0;
  font-family: 'GloberBook', sans-serif;
  color: #5d3b3b;
  font-size: 20px;
  background-image: -webkit-linear-gradient(298deg, #ffed6f, #ffb53c), -webkit-linear-gradient(322deg, rgba(255, 189, 0, 0), rgba(255, 0, 0, 0.5)), -webkit-linear-gradient(52deg, rgba(255, 255, 255, 0.62), rgba(255, 174, 0, 0)), -webkit-linear-gradient(rgba(255, 120, 0, 0.65), rgba(255, 120, 0, 0.65));
  background-image: -o-linear-gradient(298deg, #ffed6f, #ffb53c), -o-linear-gradient(322deg, rgba(255, 189, 0, 0), rgba(255, 0, 0, 0.5)), -o-linear-gradient(52deg, rgba(255, 255, 255, 0.62), rgba(255, 174, 0, 0)), -o-linear-gradient(rgba(255, 120, 0, 0.65), rgba(255, 120, 0, 0.65));
  background-image: linear-gradient(152deg, #ffed6f, #ffb53c), linear-gradient(128deg, rgba(255, 189, 0, 0), rgba(255, 0, 0, 0.5)), linear-gradient(38deg, rgba(255, 255, 255, 0.62), rgba(255, 174, 0, 0)), linear-gradient(rgba(255, 120, 0, 0.65), rgba(255, 120, 0, 0.65));
}
.main {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.main__features {
  overflow: hidden;
  position: relative;
  padding-bottom: 250px;
}
.main__features:after {
  position: absolute;
  content: '';
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: -webkit-calc(100% - 20px);
  width: calc(100% - 20px);
  max-width: 100%;
  height: 1652px;
  background-image: url("../img/general/stars.png");
  background-repeat: no-repeat;
  background-position: top;
  -webkit-background-size: contain;
          background-size: contain;
}
@media only screen and (max-width: 1279px) {
  .main__features:after {
    display: none;
  }
}
.intro {
  position: relative
    ;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1267px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 175px 50px 45px;
}
@media only screen and (max-width: 1669px) {
  .intro {
    width: 100%;
  }
}
@media only screen and (max-width: 1279px) {
  .intro {
    width: 414px;
    padding: 80px 20px 70px;
    text-align: center;
  }
}
.intro__desc {
  position: relative;
  z-index: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 856px;
  padding: 0;
  margin: 0;
  margin-bottom: 260px;
}
@media only screen and (max-width: 1669px) {
  .intro__desc {
    margin-bottom: 160px;
  }
}
@media only screen and (max-width: 1279px) {
  .intro__desc {
    margin-bottom: 445px;
    text-align: left;
  }
}
.intro__title {
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
  font-family: 'GloberxBold';
  font-size: 125px;
  line-height: 0.9;
}
@media only screen and (max-width: 1669px) {
  .intro__title {
    font-size: 105px;
  }
}
@media only screen and (max-width: 1279px) {
  .intro__title {
    font-size: 55px;
    line-height: 1;
  }
}
.intro__tip {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 405px;
  padding: 0;
  margin: 0;
  font-family: 'GloberBook';
  font-size: 35px;
  line-height: 1.15;
}
.intro__tip br:nth-of-type(1) {
  display: none;
}
@media only screen and (max-width: 1279px) {
  .intro__tip br:nth-of-type(1) {
    display: inline;
  }
}
@media only screen and (max-width: 1279px) {
  .intro__tip {
    max-width: 177px;
    font-size: 25px;
  }
}
.intro__images {
  position: absolute;
  top: 0;
  right: -40px;
  z-index: 0;
  width: 1062px;
}
@media only screen and (max-width: 1669px) {
  .intro__images {
    right: 0;
    width: 65%;
  }
}
@media only screen and (max-width: 1279px) {
  .intro__images {
    width: 869px;
    top: 220px;
    left: -185px;
  }
}
.intro__img {
  display: block;
  padding: 0;
  margin: 0;
}
.intro__img--yoo-left {
  position: absolute;
  left: 130px;
  top: 450px;
  z-index: 2;
}
@media only screen and (max-width: 1669px) {
  .intro__img--yoo-left {
    width: 38%;
  }
}
@media only screen and (max-width: 1279px) {
  .intro__img--yoo-left {
    top: 255px;
    left: 180px;
    width: 282px;
  }
}
.intro__img--yoo-right {
  position: absolute;
  left: 360px;
  top: 445px;
  z-index: 3;
}
@media only screen and (max-width: 1669px) {
  .intro__img--yoo-right {
    width: 37%;
  }
}
@media only screen and (max-width: 1279px) {
  .intro__img--yoo-right {
    top: 245px;
    left: 340px;
    width: 278px;
  }
}
.intro__img--man {
  position: absolute;
  top: 80px;
  right: -120px;
  z-index: 1;
}
@media only screen and (max-width: 1669px) {
  .intro__img--man {
    right: 20px;
    width: 67%;
  }
}
@media only screen and (max-width: 1279px) {
  .intro__img--man {
    top: 5px;
    right: 155px;
    width: 441px;
  }
}
.intro__img--spiral {
  position: relative;
  z-index: 0;
  width: 100%;
}
.intro__links {
  position: relative;
  z-index: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 300px;
  padding: 0;
  margin: 0;
}
@media only screen and (max-width: 1279px) {
  .intro__links {
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    padding: 0 55px;
  }
}
.intro__links-video,
.intro__links-prez {
  position: relative;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px 0 1px 35px;
  font-family: 'GloberRegular';
  font-size: 16px;
  line-height: 1;
  color: inherit;
  text-decoration: none;
  background-position: left;
  background-repeat: no-repeat;
  -webkit-background-size: 22px 22px;
          background-size: 22px;
}
@media only screen and (max-width: 1279px) {
  .intro__links-video,
  .intro__links-prez {
    display: inline;
    text-align: left;
    padding-left: 27px;
  }
}
.intro__links-video {
  margin-bottom: 30px;
  background-image: url("../img/general/link-play.svg");
}
@media only screen and (max-width: 1279px) {
  .intro__links-video {
    margin: 0;
  }
}
.intro__links-prez {
  background-image: url("../img/general/link-download.svg");
}
.intro__more {
  position: absolute;
  left: 50%;
  bottom: 45px;
  z-index: 1;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 35px 30px 30px;
  font-family: 'GloberRegular';
  font-size: 25px;
  line-height: 1;
  color: #29313a;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-border-radius: 50px;
          border-radius: 50px;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.intro__more:hover {
  background-color: #ffffff;
}
@media only screen and (max-width: 1279px) {
  .intro__more {
    position: relative;
    left: auto;
    bottom: auto;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
}
.features-block {
  position: relative;
  z-index: 5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1267px;
  padding: 75px 54px 0;
  margin: 0 auto;
  background-color: #ffffff;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-shadow: 0 16px 36px 0 rgba(0, 0, 0, 0.13);
          box-shadow: 0 16px 36px 0 rgba(0, 0, 0, 0.13);
}
@media only screen and (max-width: 1669px) {
  .features-block {
    width: -webkit-calc(100% - 40px);
    width: calc(100% - 40px);
  }
}
@media only screen and (max-width: 1279px) {
  .features-block {
    width: 414px;
    padding: 60px 0 0;
  }
}
.features-block__title {
  padding: 0;
  margin: 0;
  margin: 0 auto 25px;
  font-family: 'GloberxBold';
  font-size: 75px;
  line-height: 1.2;
  text-align: center;
}
.features-block__title br {
  display: none;
}
@media only screen and (max-width: 1279px) {
  .features-block__title {
    padding: 0 53px;
    margin-bottom: 10px;
    font-size: 55px;
    line-height: 1;
  }
  .features-block__title br {
    display: inline;
  }
}
.features-block__list {
  position: relative;
  min-height: 470px;
  padding: 0;
  margin: 0;
  margin: 0 auto;
  list-style: none;
}
@media only screen and (max-width: 1279px) {
  .features-block__list {
    padding: 0 53px;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 479px) {
  .features-block__list {
    padding: 0 20px;
  }
}
.features-block__item {
  position: absolute;
  padding: 0;
  margin: 0;
  list-style: none;
}
@media only screen and (max-width: 1279px) {
  .features-block__item:nth-child(2n + 1) .features-block__img {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    margin-left: 15px;
  }
}
@media only screen and (max-width: 1279px) {
  .features-block__item:nth-child(2n) .features-block__img {
    margin-left: -130px;
  }
}
.features-block__item:nth-child(1) {
  width: 354px;
  left: 0;
}
@media only screen and (max-width: 1279px) {
  .features-block__item:nth-child(1) {
    top: 0;
    left: 0;
    bottom: auto;
    right: auto;
  }
}
.features-block__item:nth-child(2) {
  width: 327px;
  top: 170px;
  left: 48%;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}
@media only screen and (max-width: 1279px) {
  .features-block__item:nth-child(2) {
    top: 0;
    left: 0;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
}
.features-block__item:nth-child(3) {
  width: 328px;
  top: 45px;
  left: 48%;
}
@media only screen and (max-width: 1279px) {
  .features-block__item:nth-child(3) {
    top: 0;
    left: 0;
    bottom: auto;
    right: auto;
  }
}
.features-block__item:nth-child(4) {
  top: 155px;
  right: 0;
}
@media only screen and (max-width: 1279px) {
  .features-block__item:nth-child(4) {
    top: 0;
    left: 0;
    bottom: auto;
    right: auto;
  }
}
@media only screen and (max-width: 1279px) {
  .features-block__item {
    position: relative;
    top: 0;
    left: 0;
    bottom: auto;
    right: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.features-block__item:hover {
  z-index: 5;
}
.features-block__item:hover .features-block__tooltip {
  display: block;
}
.features-block__img {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.features-block__desc {
  padding: 0;
  margin: 0;
  font-family: 'dudu';
  font-size: 35px;
  line-height: 1.15;
  font-weight: bold;
  text-align: center;
}
@media only screen and (max-width: 1279px) {
  .features-block__desc {
    font-size: 25px;
  }
}
.features-block__desc--min {
  text-align: left;
  max-width: 160px;
  margin-left: 55px;
}
@media only screen and (max-width: 1279px) {
  .features-block__desc--min {
    margin: 0;
  }
}
.features-block__desc--up {
  margin-top: -5px;
}
@media only screen and (max-width: 1279px) {
  .features-block__desc--up {
    margin: 0;
  }
}
.features-block__video {
  bottom: -130px;
  margin: 0 auto;
}
@media only screen and (max-width: 1279px) {
  .features-block__video {
    position: relative;
    bottom: auto;
  }
}
.tooltip {
  position: absolute;
  top: 0;
  left: 60%;
  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 622px;
  padding: 0;
  margin: 0;
  padding: 40px 55px 45px 75px;
  color: #4a4a4a;
  font-family: 'GloberBook';
  font-size: 25px;
  line-height: 1.5;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}
@media only screen and (max-width: 1669px) {
  .tooltip {
    left: 30%;
    width: 422px;
    font-size: 15px;
  }
}
@media only screen and (max-width: 1279px) {
  .tooltip {
    right: auto;
    top: 0;
    left: 0;
    width: 414px;
    padding: 30px 55px 30px 55px;
  }
}
@media only screen and (max-width: 479px) {
  .tooltip {
    width: 385px;
    padding: 30px 35px 50px;
    font-size: 25px;
    -webkit-background-size: 385px auto;
            background-size: 385px auto;
  }
}
.tooltip--one {
  background-image: url("../img/general/feature-bg-1.png");
}
@media only screen and (max-width: 479px) {
  .tooltip--one {
    background-image: url("../img/general/feature-bg-mob-1.png");
  }
}
.tooltip--two {
  background-image: url("../img/general/feature-bg-2.png");
}
@media only screen and (max-width: 479px) {
  .tooltip--two {
    background-image: url("../img/general/feature-bg-mob-2.png");
  }
}
.tooltip--three {
  background-image: url("../img/general/feature-bg-3.png");
}
@media only screen and (max-width: 479px) {
  .tooltip--three {
    background-image: url("../img/general/feature-bg-mob-3.png");
  }
}
.tooltip--four {
  background-image: url("../img/general/feature-bg-4.png");
  padding-right: 20px;
  padding-left: 65px;
  background-position: -20px;
  right: 20%;
  bottom: -80px;
  top: auto;
  left: auto;
}
.tooltip--four:after {
  position: absolute;
  right: -15px;
  top: 20px;
  content: '';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 25px solid transparent;
  border-left-color: #ffb53c;
}
@media only screen and (max-width: 1279px) {
  .tooltip--four {
    top: 0;
    right: 0;
    left: 0;
    bottom: auto;
    background-position: 0 0;
  }
  .tooltip--four:after {
    display: none;
  }
}
@media only screen and (max-width: 479px) {
  .tooltip--four {
    right: 0;
    padding-right: 55px;
    padding-left: 35px;
    background-image: url("../img/general/feature-bg-mob-4.png");
  }
}
.tooltip__close {
  position: absolute;
  top: 20px;
  right: 20px;
  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  font-size: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.tooltip__close:before,
.tooltip__close:after {
  position: absolute;
  content: '';
  top: 5%;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 2px;
  height: 25px;
  background-color: #434343;
}
.tooltip__close:before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
@media only screen and (max-width: 479px) {
  .tooltip__close {
    display: block;
  }
}
.video {
  position: relative;
  max-width: 1165px;
  min-height: 671px;
}
@media only screen and (max-width: 1279px) {
  .video {
    min-height: 238px;
  }
}
@media only screen and (max-width: 479px) {
  .video {
    margin: 0 15px;
  }
}
.video__img {
  position: absolute;
  top: 0;
  left: 0;
}
.video__file {
  max-width: 100%;
  width: 100%;
}
.video__button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  padding: 0;
  margin: 0;
  font-size: 0;
  background-color: transparent;
  background-image: url("../img/general/icon-play.svg");
  background-repeat: no-repeat;
  background-position: -15px -19px;
  -webkit-background-size: 158px 158px;
          background-size: 158px;
  border: none;
  opacity: 0.6;
  cursor: pointer;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.video__button.active {
  display: none;
}
@media only screen and (max-width: 1279px) {
  .video__button {
    width: 76px;
    height: 76px;
    background-position: -15px -15px;
    -webkit-background-size: 120px 120px;
            background-size: 120px;
  }
}
.video__button:hover {
  opacity: 1;
}
