@olive: rgb(93, 59, 59);
@desktop: 1669px;
@tablet: 1279px;
@phone: 479px;



@font-face {
    font-family: 'GloberxBold';
    src: url("../fonts/GloberxBold.otf");
    src: url("../fonts/GloberxBold.woff") format("woff"), url("../fonts/GloberxBold.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'GloberBook';
    src: url("../fonts/GloberBook.otf");
    src: url("../fonts/GloberBook.woff") format("woff"), url("../fonts/GloberBook.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'GloberRegular';
    src: url("../fonts/GloberRegular.otf");
    src: url("../fonts/GloberRegular.woff") format("woff"), url("../fonts/GloberRegular.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'dudu';
    src: url("../fonts/Dudu_Cyrillic.ttf");
    src: url("../fonts/Dudu_Cyrillic.woff") format("woff"), url("../fonts/Dudu_Cyrillic.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

.pd-0() {
    padding: 0;
    margin: 0;
}

img {
    display: block;

    max-width: 100%;
    height: auto;
}

body  {
    margin: 0;

    font-family: 'GloberBook', sans-serif;
    color: @olive;
    font-size: 20px;

    background-image: linear-gradient(152deg, #ffed6f, #ffb53c), 
    linear-gradient(128deg, rgba(255, 189, 0, 0), rgba(255, 0, 0, 0.5)),
    linear-gradient(38deg, rgba(255, 255, 255, 0.62), rgba(255, 174, 0, 0)),
    linear-gradient(rgba(255, 120, 0, 0.65), rgba(255, 120, 0, 0.65));
}

.main {
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;

    &__features {
        overflow: hidden;
        position: relative;

        padding-bottom: 250px;

        &:after {
            position: absolute;
            content: '';
            top: 0;
            left: 50%;
            transform: translateX(-50%);

            box-sizing: border-box;
            width: ~"calc(100% - 20px)";
            max-width: 100%;
            height: 1652px;

            background-image: url("../img/general/stars.png");
            background-repeat: no-repeat;
            background-position: top;
            background-size: contain;

            @media only screen and (max-width: @tablet) {
                display: none;
            }
        }

    }
}

.intro {
    position: relative
    ;
    box-sizing: border-box;
    max-width: 1267px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 175px 50px 45px;

    @media only screen and (max-width: @desktop) {
        width: 100%;
    }

    @media only screen and (max-width: @tablet) {
        width: 414px;
        padding: 80px 20px 70px;

        text-align: center;
    }

    &__desc {
        position: relative;
        z-index: 1;

        box-sizing: border-box;
        max-width: 856px;
        .pd-0;
        margin-bottom: 260px;

        @media only screen and (max-width: @desktop) {
            margin-bottom: 160px;
        }

        @media only screen and (max-width: @tablet) {
            margin-bottom: 445px;

            text-align: left;
        }
       
    }

    &__title {
        .pd-0;
        margin-bottom: 15px;

        font-family: 'GloberxBold';
        font-size: 125px;
        line-height: 0.9;

        @media only screen and (max-width: @desktop) {
            font-size: 105px;
        }

        @media only screen and (max-width: @tablet) {
            font-size: 55px;
            line-height: 1;
        }
    }

    &__tip {
        box-sizing: border-box;
        max-width: 405px;
        .pd-0;

        font-family: 'GloberBook';
        font-size: 35px;
        line-height: 1.15;

        & br:nth-of-type(1) {
            display: none;

            @media only screen and (max-width: @tablet) {
                display: inline;
            }

        }

        @media only screen and (max-width: @tablet) {
            max-width: 177px;

            font-size: 25px;
        }
    }

    &__images {
        position: absolute;
        top: 0;
        right: -40px;
        z-index: 0;

        width: 1062px;

        @media only screen and (max-width: @desktop) {
            right: 0;

            width: 65%;
        }

        @media only screen and (max-width: @tablet) {
            width: 869px;

            top: 220px;
            left: -185px;
        }
    }

    &__img {
        display: block;

        .pd-0;

        &--yoo-left {
            position: absolute;
            left: 130px;
            top: 450px;
            z-index: 2;

            @media only screen and (max-width: @desktop) {
               width: 38%;
            }

            @media only screen and (max-width: @tablet) {
                top: 255px;
                left: 180px;

                width: 282px;
            }
        }

        &--yoo-right {
            position: absolute;
            left: 360px;
            top: 445px;
            z-index: 3;

            @media only screen and (max-width: @desktop) {
                width: 37%;
            }

            @media only screen and (max-width: @tablet) {
                top: 245px;
                left: 340px;

                width: 278px;
            }
        }

        &--man {
            position: absolute;
            top: 80px;
            right: -120px;
            z-index: 1;

            @media only screen and (max-width: @desktop) {
                right: 20px;

                width: 67%;
            }

            @media only screen and (max-width: @tablet) {
                top: 5px;
                right: 155px;

                width: 441px;
            }
        }

        &--spiral {
            position: relative;
            z-index: 0;

            width: 100%;
        }
    }

    &__links {
        position: relative;
        z-index: 1;
        
        box-sizing: border-box;
        width: 300px;
        .pd-0;

        @media only screen and (max-width: @tablet) {
            position: absolute;
            top: 0;
            left: 0;

            display: flex;
            justify-content: space-between;

            width: 100%;
            padding: 0 55px;
        }

        &-video,
        &-prez {
            position: relative;
            display: inline-block;
            box-sizing: border-box;
            padding: 5px 0 1px 35px;

            font-family: 'GloberRegular';
            font-size: 16px;
            line-height: 1;
            color: inherit;
            text-decoration: none;

            background-position: left;
            background-repeat: no-repeat;
            background-size: 22px;

            @media only screen and (max-width: @tablet) {
                display: inline;
                text-align: left;
                padding-left: 27px;
            }
        }

        &-video {
            margin-bottom: 30px;

            background-image: url("../img/general/link-play.svg");

            @media only screen and (max-width: @tablet) {
                margin: 0;
            }
        }

        &-prez {
            background-image: url("../img/general/link-download.svg");
        }
    }

    &__more {
        position: absolute;
        left: 50%;
        bottom: 45px;
        z-index: 1;
        transform: translateX(-50%);

        padding: 35px 30px 30px;
        
        font-family: 'GloberRegular';
        font-size: 25px;
        line-height: 1;
        color: #29313a;
        text-decoration: none;

        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 50px;

        transition: background-color 0.5s;

        &:hover {
            background-color: rgba(255, 255, 255, 1);
        }

        @media only screen and (max-width: @tablet) { 
            position: relative;
            left: auto;
            bottom: auto;
            transform: translateX(0);
        }
    }
}

.features-block {
    position: relative;
    z-index: 5;

    box-sizing: border-box;
    max-width: 1267px;
    padding: 75px 54px 0;
    margin: 0 auto;

    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 16px 36px 0 rgba(0, 0, 0, 0.13);

    @media only screen and (max-width: @desktop) {
        width: ~"calc(100% - 40px)";
    }

    @media only screen and (max-width: @tablet) {
        width: 414px;
        padding: 60px 0 0;
    }

    &__title {
        .pd-0;
        margin: 0 auto 25px;

        font-family: 'GloberxBold';
        font-size: 75px;
        line-height: 1.2;
        text-align: center;

        & br {
            display: none;
        }

        @media only screen and (max-width: @tablet) {
            padding: 0 53px;
            margin-bottom: 10px;

            font-size: 55px;
            line-height: 1;

            & br {
                display: inline;
            }
        }
    }

    &__list {
        position: relative;

        min-height: 470px;
        .pd-0;
        margin: 0 auto;

        list-style: none;

        @media only screen and (max-width: @tablet) {
            padding: 0 53px;
            margin-bottom: 20px;
        }

        
        @media only screen and (max-width: @phone) {
            padding: 0 20px;
        }
    }

    &__item {
        position: absolute;
        .pd-0;

        list-style: none;

        &:nth-child(2n + 1) .features-block__img {
            @media only screen and (max-width: @tablet) {
                order: 1;

                margin-left: 15px;
            }
        }

        &:nth-child(2n) .features-block__img {
            @media only screen and (max-width: @tablet) {
                margin-left: -130px;
            }
        }

        &:nth-child(1) {
            width: 354px;

            left: 0;

            @media only screen and (max-width: @tablet) {
                top: 0;
                left: 0;
                bottom: auto;
                right: auto;
            }
        }

        &:nth-child(2) {
            width: 327px;

            top: 170px;
            left: 48%;
            transform: translateX(-100%);

            @media only screen and (max-width: @tablet) {
                top: 0;
                left: 0;
                bottom: auto;
                right: auto;
                transform: translateX(0);
            }
        }

        &:nth-child(3) {
            width: 328px;

            top: 45px;
            left: 48%;

            @media only screen and (max-width: @tablet) {
                top: 0;
                left: 0;
                bottom: auto;
                right: auto;
            }
        }

        &:nth-child(4) {
            top: 155px;
            right: 0;

            @media only screen and (max-width: @tablet) {
                top: 0;
                left: 0;
                bottom: auto;
                right: auto;
            }
        }

        @media only screen and (max-width: @tablet) {
            position: relative;
            top: 0;
            left: 0;
            bottom: auto;
            right: auto;

            display: flex;
            align-items: center;
        }

        &:hover {
            z-index: 5;
        }

        &:hover .features-block__tooltip {
            display: block;
        }

    }

    &__img {
        flex-shrink: 0;
    }

    &__desc {
        .pd-0;

        font-family: 'dudu';
        font-size: 35px;
        line-height: 1.15;
        font-weight: bold;
        text-align: center;

        @media only screen and (max-width: @tablet) {
            font-size: 25px;
        }

        &--min {
            text-align: left;
            max-width: 160px;
            margin-left: 55px;

            @media only screen and (max-width: @tablet) {
                margin: 0;
            }
        }

        &--up {
            margin-top: -5px;

            @media only screen and (max-width: @tablet) {
                margin: 0;
            }
        }
    }

    &__video {
        bottom: -130px;
        margin: 0 auto;

        @media only screen and (max-width: @tablet) {
            position: relative;
            bottom: auto;
        }
    }
}

.tooltip {
    position: absolute;
    top: 0;
    left: 60%;

    display: none;
    box-sizing: border-box;
    width: 622px;
    .pd-0;
    padding: 40px 55px 45px 75px;

    color:#4a4a4a;
    font-family: 'GloberBook';
    font-size: 25px;
    line-height: 1.5;

    background-repeat: no-repeat;
    background-size: contain;

    @media only screen and (max-width: @desktop) {
        left: 30%;
        width: 422px;

        font-size: 15px;
    }

    @media only screen and (max-width: @tablet) {
        right: auto;
        top: 0;
        left: 0;

        width: 414px;
        padding: 30px 55px 30px 55px;
    }

    @media only screen and (max-width: @phone) {
        width: 385px;
        padding: 30px 35px 50px;

        font-size: 25px;

        background-size: 385px auto;
    }

    &--one {
        background-image: url("../img/general/feature-bg-1.png");

        @media only screen and (max-width: @phone) {
            background-image: url("../img/general/feature-bg-mob-1.png");
        }
    }

    &--two {
        background-image: url("../img/general/feature-bg-2.png");

        @media only screen and (max-width: @phone) {
            background-image: url("../img/general/feature-bg-mob-2.png");
        }
    }

    &--three {
        background-image: url("../img/general/feature-bg-3.png");

        @media only screen and (max-width: @phone) {
            background-image: url("../img/general/feature-bg-mob-3.png");
        }
        
    }

    &--four {
        background-image: url("../img/general/feature-bg-4.png");
        padding-right: 20px;
        padding-left: 65px;
        background-position: -20px;

        right: 20%;
        bottom: -80px;
        top: auto;
        left: auto;

        &:after {
            position: absolute;
            right: -15px;
            top: 20px;
            content: '';
            box-sizing: border-box;

            border: 25px solid transparent;
            border-left-color: #ffb53c;
        }


        @media only screen and (max-width: @tablet) {
            top: 0;
            right: 0;
            left: 0;
            bottom: auto;

            background-position: 0 0;

            &:after {
                display: none;
            }
        }

        @media only screen and (max-width: @phone) {
            right: 0;

            padding-right: 55px;
            padding-left: 35px;

            background-image: url("../img/general/feature-bg-mob-4.png");
        }
    }

    &__close {
        position: absolute;
        top: 20px;
        right: 20px;

        display: none;
        box-sizing: border-box;
        width: 30px;
        height: 30px;
        .pd-0;

        font-size: 0;

        background-color: transparent;
        border: none;

        cursor: pointer;

        &:before,
        &:after {
            position: absolute;
            content: '';
            top: 5%;
            transform: rotate(45deg);

            width: 2px;
            height: 25px;

            background-color: #434343;

        }

        &:before {
            transform: rotate(-45deg);
        }

        @media only screen and (max-width: @phone) {
            display: block;
        }
    }

}

.video {
    position: relative;

    max-width: 1165px;
    min-height: 671px;

    @media only screen and (max-width: @tablet) {
        min-height: 238px;
    }

    @media only screen and (max-width: @phone) {
       margin: 0 15px;
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
    }

    &__file {
        max-width: 100%;
        width: 100%;
    }

    &__button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);

        box-sizing: border-box;
        width: 100px;
        height: 100px;
        .pd-0;

        font-size: 0;

        background-color: transparent;
        background-image: url("../img/general/icon-play.svg");
        background-repeat: no-repeat;
        background-position: -15px -19px;
        background-size: 158px;
        border: none;

        opacity: 0.6;
        cursor: pointer;
        transition: opacity 0.3s;

        &.active {
            display: none;
        }

        @media only screen and (max-width: @tablet) {
            width: 76px;
            height: 76px;

            background-position: -15px -15px;
            background-size: 120px;
        }

        &:hover {
            opacity: 1;
        }
    }
}