doctype html
html(class="no-js", lang="ru")
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    title test
    meta(content="", name="description")
    meta(content="", name="keywords")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(content="telephone=no", name="format-detection")
    //- This make sence for mobile browsers. It means, that content has been optimized for mobile browsers
    meta(name="HandheldFriendly", content="true")

    |<!--[if IE 8 ]><link href="%=static=%css/main_ie8%=hash=%%=min=%.css" rel="stylesheet" type="text/css"><![endif]-->
    |<!--[if IE 9 ]><link href="%=static=%css/main_ie9%=hash=%%=min=%.css" rel="stylesheet" type="text/css"><![endif]-->
    |<!--[if (gt IE 9)|!(IE)]><!--><link href="css/main.min.css" rel="stylesheet" type="text/css"><!--<![endif]-->

    meta(property="og:title", content="")
    meta(property="og:title", content="")
    meta(property="og:url", content="")
    meta(property="og:description", content="")
    meta(property="og:image", content="")
    meta(property="og:image:type", content="image/jpeg")
    meta(property="og:image:width", content="500")
    meta(property="og:image:height", content="300")
    meta(property="twitter:description", content="")
    link(rel="image_src", href="")

    link(rel="icon" type="image/x-icon" href="img/favicon.ico")
    script.
        var windowWidth = screen.width;
        if (windowWidth < 414) {
            var oldMeta = document.querySelector('meta[name="viewport"]');
            oldMeta.remove();
            var meta = document.createElement('meta');
            meta.name = "viewport";
            meta.content = "width=414, user-scalable=no";
            document.querySelector('head').appendChild(meta);
        } else if (windowWidth >= 414) {
            var oldMeta = document.querySelector('meta[name="viewport"]');
            oldMeta.remove();
            var meta = document.createElement('meta');
            meta.name = "viewport";
            meta.content = "width=device-width, initial-scale=1.0";
            document.querySelector('head').appendChild(meta);
        }
    script.
        (function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)
    |<!--[if lt IE 9 ]><script src="%=static=%js/separate-js/html5shiv-3.7.2.min.js" type="text/javascript"></script><meta content="no" http-equiv="imagetoolbar"><![endif]-->
    body
        main.main
            section.main__intro.intro
                .intro__desc
                    h2.intro__title 
                        |Когда хочется, 
                        br
                        |то можно!
                    p.intro__tip 
                        |Yoo Go - 
                        br
                        |всегда к месту!
                        br
                        |В любое время. Для всех.
                .intro__images
                    img.intro__img.intro__img--spiral(src="img/general/spiral.svg", alt="spiral")
                    img.intro__img.intro__img--yoo-left(src="img/content/yoo-go-1.png", alt="Yoo Go")
                    img.intro__img.intro__img--yoo-right(src="img/content/yoo-go-2.png", alt="Yoo Go")
                    img.intro__img.intro__img--man(src="img/content/man.png", alt="man Yoo Go")
                p.intro__links
                    a.intro__links-video.js-scroll-video(href="#video") Посмотреть видео
                    a.intro__links-prez(href="#" download) Скачать презентацию
                a.intro__more(href="#") Подробнее о продукте
            section.main__features
                .main__features-block.features-block
                    h3.features-block__title 
                        |Что 
                        br
                        |тебя ждет?
                    ul.features-block__list
                        li.features-block__item(onclick="openHover(event.target)")
                            img.features-block__img(src="img/content/apple.png", alt="apple")
                            p.features-block__desc.features-block__desc--min Минимум калорий
                            p.features-block__tooltip.tooltip.tooltip--one С нашей стороны ты сможешь оставаться полным сил и энергии, не прибавляя лишних сантиметров и килограммов. Все, что тебе нужно, - белок, минимум жира и полезные углеводы!
                                button.tooltip__close(onclick="closeHover(this)") Close
                        li.features-block__item(onclick="openHover(event.target)")
                            img.features-block__img(src="img/content/blueberry.png", alt="blueberry")
                            p.features-block__desc Максимум пользы
                            p.features-block__tooltip.tooltip.tooltip--two Мы делаем не просто еду для перекуса, а создаем настоящие взрывные витаминно-минеральные миксы. Самое необходимое для поддержания отличного самочувствия, настроения и активного образа жизни – внутри каждой упаковки!
                                button.tooltip__close(onclick="closeHover(this)") Close
                        li.features-block__item(onclick="openHover(event.target)")
                            img.features-block__img(src="img/content/case.png", alt="case")
                            p.features-block__desc Удобный формат
                            p.features-block__tooltip.tooltip.tooltip--three Жизненно важные микроэлементы и нутриенты, необходимые организму каждый день, помещаются в твоем кармане. Где бы ты ни был: на вершине Эвереста, посреди Сахары или в глухой сибирской тайге – Yoo Go поддержит тебя и даст силы для нового шага!
                                button.tooltip__close(onclick="closeHover(this)") Close
                        li.features-block__item(onclick="openHover(event.target)")
                            img.features-block__img(src="img/content/bottle.png", alt="bottle")
                            p.features-block__desc.features-block__desc--up Ничего лишнего
                            p.features-block__tooltip.tooltip.tooltip--four Мы полностью отказались от бесполезных ароматизаторов, усилителей вкуса, прочих глутаматов натрия и свели до возможного минимума компоненты искусственного происхождения.
                                button.tooltip__close(onclick="closeHover(this)") Close
                    .features-block__video.video(id="video")
                        img.video__img.js-play-img(src="img/content/video-cover.png", alt="video cover")
                        video.video__file
                        button.video__button Play
        
        script(src='js/main.min.js')
